<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
</head>
<body>
<h2>Blog list</h2>

<a th:href="@{/blog/create}">Add new product</a>


<p style="color: green" th:text="${mess}"></p>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Writer</th>
        <th>Content</th>
        <th>Data Create</th>
        <th>Category </th>
        <th>Edit </th>
        <th>Delete</th>
        <th>View</th>
    </tr>

    <tr th:each="blog : ${blogList}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.writer}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.dateCreated}"></td>
        <td th:text="${blog.category.categoryName}"></td>
        <td><a th:href="@{/blog/edit/__${blog.id}__}">edit</a></td>
        <td><a th:href="@{/blog/delete/__${blog.id}__}">delete</a></td>
        <td><a th:href="@{/blog/view/__${blog.id}__}">view</a></td>
    </tr>
</table>
<a th:href="@{/blog(page=${blogList.number - 1})}" th:if="${blogList.hasPrevious()}">Previous</a>
<span th:text="${blogList.number+1}+'/'+${blogList.totalPages}"></span>
<a th:href="@{/blog(page=${blogList.number + 1})}" th:if="${blogList.hasNext()}">Next</a>
</body>
</html>